{% extends 'base.html' %}

{% block content %}
<form class="container" method="POST" action="/confirmation">
  <div class="form-group">
    <input name="dish_name" type="text" class="form-control" id="dish_name" placeholder="dish name - Pizza">
  </div>
  <br/>
  <div class="form-group">
    <input name="dish_type" type="text" class="form-control" id="dish_type" placeholder="dish type - main, salad or desert">
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}