{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Add a new dish</h1>
</div>
<form class="container" method="POST">
  <div class="form-group">
    {{ form.hidden_tag() }}
    {{ form.dish_name.label(class="form-label") }}
    {{ form.dish_name(class="form-control", placeholder="Pizza") }}
    <br/>
    {{ form.dish_type.label(class="form-label") }}
    {{ form.dish_type(class="form-control", placeholder="main, salad or desert") }}
    <br/>
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
{% endblock %}