{% extends 'base.html' %}

{% block content %}

<div class="container">

{% for message in get_flashed_messages() %}
  {% if 'Success' in message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% endif %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

  <h1>Add a new dish</h1>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      {{ form.hidden_tag() }}
      {{ form.dish_name.label(class="form-label") }}
      {{ form.dish_name(class="form-control", placeholder="Pizza") }}
      <br/>
      {{ form.dish_type.label(class="form-label") }}
      {{ form.dish_type(class="form-control") }}
      <br/>
      {{ form.dish_source.label(class="form-label") }}
      {{ form.dish_source(class="form-control", placeholder="URL or book name + page") }}
      <br/>
      {{ form.dish_image.label(class="form-label") }}
      {{ form.dish_image(class="form-control", placeholder="Image of the dish", type="file", id="formFile") }}
      <br/>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}