{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3>Make your choice</h3>
    <br/>
    <form method="POST" id="choice">
      <button type="submit" id="main" name="name" value="main" class="btn btn-primary">Main course</button>
      <button type="submit" id="salad" name="name" value="salad" class="btn btn-primary">Salad</button>
      <button type="submit" id="light" name="name" value="light" class="btn btn-primary">Breakfast/kveldsmat</button>
      <button type="submit" id="desert" name="name" value="desert" class="btn btn-primary">Desert</button>
    </form>
  </div>
{% endblock %}